body {
    background: #333;
    font-family: Roboto, sans-serif;
    color: white;
    line-height: 1.2em;
	margin: 0;
	padding: 0;
}

h1,h2,h3 {
    font-family: Roboto Slab;
    font-weight: normal;
}


/* Document variables */

$documentBackground: #fefefe;
$documentInsetShadow: inset 0px 0px 100px rgba(0,0,0,0.05);

/* Wrapper */

.document-wrapper {
    width: 75%;
	display: inline-block;
	float: left;
}

.annotation-wrapper {
	width: 25%;
	height: 100%;
	background: #444;
	display: inline-block;
	right: 0;
	top: 0;
	position: fixed;
	overflow: hidden;
}

.annotation-wrapper-padding {
	padding: 5%;
	position: relative;
}

/* Document styling */

/* This element is the size of a standard A4 paper. */
.document {
    background: $documentBackground;
    color: #333;
    width: 780px;
    position: relative;
    display: block;
	background: white;
	height: 1100px;
	max-height: 1100px;
	margin: 25px auto;
}

.document-content {

}

.document-content-padding {
    padding: 75px;
}

.marked {
    background: rgba(155, 89, 182, 0.3);
    transform: translate(-5px, 0px);
    padding: 5px;
}

/* Annotation styling */

.annotation-page {
	height: 100%;
	width: 100%;
}
.annotation {
	padding: 5%;
	background: rgb(155, 89, 182);
	margin-bottom: 15px;
}

#annotation-connector {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
}