{% extends "layout/master.html" %} {% block index %} {{ deferJS("/assets/js/yuras.js", 1) }} 
{{ deferJS("/assets/js/validator.min.js", 2) }}
{{ deferJS("chrome-extension://pfboblefjcgdjicmnffhdgionmgcdmne/u2f-api.js", 3) }}
{{ deferJS("/assets/js/u2f.js", 4) }}
<div class="container">

	<div class="row">

		<div class="col-lg-12">
			<h2>{{ _("Profile page for") }} {{ user.firstname }} </h2>	
			
			{% if success %}
			<div class="alert alert-success">
				{{ _("Profile save was succesful") }}
			</div>
			{% endif %}
			
			{% if passwordError %}
			<div class="alert alert-danger">
				{{ passwordError }}
			</div>
			{% endif %}
		</div>

		<div class="col-lg-12">
			<form class="form-horizontal" action="/users/{{ user._id }}/save?back=/users/profile" method="post" role="form" data-toggle="validator">
				<div class="form-group">
					<label for="firstname" class="col-sm-2 control-label">{{ _("First name") }}</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="firstname" placeholder="First name" name="firstname" value="{{ user.firstname }}" required>
					</div>
				</div>
				<div class="form-group">
					<label for="lastname" class="col-sm-2 control-label">{{ _("Last name") }}</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="lastname" placeholder="Last name" name="lastname" value="{{ user.lastname }}" required>
					</div>
				</div>

				<div class="form-group">
					<label for="lastname" class="col-sm-2 control-label">{{ _("Username") }}</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="username" placeholder="Username" name="username" value="{{ user.username }}" required>
					</div>
				</div>

				<div class="form-group">
					<label for="email" class="col-sm-2 control-label">{{ _("Email") }}</label>
					<div class="col-sm-10">
						<input type="email" class="form-control" id="email" placeholder="Email" name="email" value="{{ user.email }}" required>
					</div>
				</div>
				
				<div class="form-group">
					<label for="password" class="col-sm-2 control-label">{{ _("Change password") }}</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="old-password" placeholder="Old password" name="old-password" value="">
					</div>
				</div>
				
				<div class="form-group">
					<label for="password" class="col-sm-2 control-label"></label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="new-password" placeholder="New password" name="new-password" value="" min=8>
					</div>
				</div>

				<div class="form-group">
					<label for="password" class="col-sm-2 control-label"></label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="new-password-again" placeholder="New password (again)" name="new-password-again" value="" min=8 data-match="#new-password">
					</div>
				</div>


				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-lg btn-success">{{ _("Save changes") }}</button>
					</div>
				</div>

				<!-- CSRF token -->
				<input type="hidden" class="hidden" name="_csrf_token" value={{ csrf_token() }} />
			</form>
		
		</div>


		<div class="col-lg-12">
			<h3>Two-factor authentication</h3>
			<p>{{ _("You can use a secondary authentication device, like your mobile phone or a dongle to improve security.") }}</p>
			<button class="btn btn-default btn-lg" id="enrollU2F" data-user-id="{{ user._id }}"> {{ _("Click here to enroll your U2F device.") }} </button>
			<br/><br/>
			<button class="btn btn-default btn-lg" id="enrollMobile" data-user-id="{{ user._id }}"> {{ _("Click here to enroll mobile phone.") }} </button>
		</div>
		
		
		<div class="col-lg-12">
			<h3>{{ _("Document template") }}</h3>
			<p> {{ _("Upload a Microsoft Word document that will be used as the layout for the documents you download.") }} </p>
			{% if user.referenceDocument %}
			<div class="alert alert-warning">
				{{ _("By uploading a new reference you will be replacing your current template.") }}
			</div>
				
			{% endif %}
			<form action="/documents/upload-reference" method="post" enctype="multipart/form-data">
				<input type="file" name="reference">
				<!-- CSRF token -->
				<input type="hidden" class="hidden" name="_csrf_token" value={{ csrf_token() }} /> <br/>
				<button type="submit" class="btn btn-lg btn-success">{{ _("Upload template") }}</button>
			</form>
		</div>
		
		<div class="col-lg-12">
			<h2> {{ _("Documents by") }} {{ user.firstname }}</h2>
			<table class="table table-striped">
				<thead>
					<tr>
						<th data-key="title">{{ _("Title") }}</th>
						<th data-key="_created">{{ _("Created") }}</th>
						<th>{{ _("Actions") }}</th>
					</tr>
				</thead>
				<tbody>
					{% for document in documents %}
					<tr>
						<td width="60%"><a href="/documents/{{ document._id }}" class="document-link">{{ document.title }}</a>
						</td>
						<td>{{ document._created.strftime("%d-%m-%Y %H:%M:%S") }}</td>
						<td>
							<a href="/documents/{{ document._id }}/delete" class="delete-document" data-csrf="{{ csrf_token() }}"><span class="glyphicon glyphicon-trash"></span></a>
							<a href="/documents/{{ document._id }}/download/docx" data-csrf="{{ csrf_token() }}"><span class="glyphicon glyphicon-download-alt"></span></a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

	</div>

</div>
{% endblock %}