body {
	background: #eee;
	font-family: Open Sans;
	font-size: 13pt;
	text-rendering: optimizeLegibility;
	-webkit-font-kerning: normal;
	-moz-font-kerning: normal;
}

header {
	text-align: center;
	margin: 100px 0;
}

h1 {
	letter-spacing: -1px;
}

.jumbotron {
	overflow: hidden;
	position: relative;
	padding: 15vh 1vh;
	background: url(./assets/img/PenAndPaper.png) top center;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	top: -100px;
}

.jumbo-arrow {
	left: 0;
	position: absolute;
	;
	color: white;
	bottom: 2vh;
	font-size: 20pt;
	width: 100%;
	font-family: 'Glyphicons Halflings';
}

.jumbo-arrow:before {
	content: "\e114";
}

.jumbo-text {
	z-index: 10;
	position: relative;
	color: white;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.yuras-logo {
	height: 40vh;
	padding-top: 5vh;
}

@media screen and (max-height: 640px) {
	.yuras-logo {
		height: 30vh;
		padding-top: 5vh;
	}
}

@media screen and (max-height: 599px) {
	.yuras-logo {
		height: 25vh;
		padding-top: 0vh;
	}
	.jumbo-text {
		padding-top: 20px;
	}
}

@media screen and (max-height: 480px) {
	.yuras-logo {
		display: none;
	}
}

.marked {
	padding: 2px 5px;
	color: white;
	background-color: #1abc9c;
	display: inline;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 3px;
}

p {
	text-align: justify;
}

.quote {
	font-family: Georgia;
	font-style: italic;
	font-size: 16pt;
}

.quote:before {
	content: "\201c";
	font-style: normal;
}

.quote:after {
	content: "\201d";
	font-style: normal;
}

.quote-author {
	text-align: right;
	display: block;
	font-size: 14pt;
	margin-top: 1em;
	opacity: 0.6;
}

.quote-author:before {
	content: "~ ";
}

.navbar-nav>.active>a {
	color: #1abc9c !important;
}

.navbar-nav>li>a {
	color: #337ab7 !important;
}

.navbar-logo {
	margin-top: -6px;
	transition: opacity 0.3s;
}

.navbar-logo:hover {
	opacity: 0.5;
}

.price-table h3 {
	text-align: center;
}

td.price {
	text-align: center;
	font-size: 200%;
}

td.price small {
	font-size: 33%;
}

.btn-yuras {
	border-color: #1abc9c;
	color: #1abc9c;
	background: white;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	font-size: 14pt;
}

.user-story-introduction {
	margin-top: -100px;
	text-align: center;
}

@media screen and (max-width: 810px) {
	.user-story-introduction * {
		font-size: 14pt;
		line-height: 1.3em;
	}
}

.row {
	margin-top: 50px;
}

.overview-comparison {
	text-align: justify;
}

.section-details {
	text-align: justify;
}

.price-sticker {
	background: white;
	border-radius: 100%;
	width: 256px;
	height: 256px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	margin: 2em auto;
}

.price-container {
	position: relative;
	top: 48%;
	transform: translateY(-50%);
}

.price-sticker .large-price {
	font-size: 44pt;
	font-family: Georgia, Serif;
}

.price-sticker .small-note {
	font-size:75%;
}

.overview-comparison .glyphicon {
	font-size: 48px;
	line-height: 64px;
	display: block;
	width: 128px;
	text-align: center;
	margin: 0 auto;
	background: white;
	height: 128px;
	padding: 32px;
	border-radius: 100%;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
/* Animations */

.pulse-down-animation {
	animation: animationFrames linear 2s;
	animation-iteration-count: infinite;
	transform-origin: 50% 50%;
	-webkit-animation: animationFrames linear 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-transform-origin: 50% 50%;
	-moz-animation: animationFrames linear 2s;
	-moz-animation-iteration-count: infinite;
	-moz-transform-origin: 50% 50%;
	-o-animation: animationFrames linear 2s;
	-o-animation-iteration-count: infinite;
	-o-transform-origin: 50% 50%;
	-ms-animation: animationFrames linear 2s;
	-ms-animation-iteration-count: infinite;
	-ms-transform-origin: 50% 50%;
}

@keyframes animationFrames {
	0% {
		transform: translate(0px, -5px);
	}
	50% {
		transform: translate(0px, 5px);
	}
	100% {
		transform: translate(0px, -5px);
	}
}

@-moz-keyframes animationFrames {
	0% {
		-moz-transform: translate(0px, -5px);
	}
	50% {
		-moz-transform: translate(0px, 5px);
	}
	100% {
		-moz-transform: translate(0px, -5px);
	}
}

@-webkit-keyframes animationFrames {
	0% {
		-webkit-transform: translate(0px, -5px);
	}
	50% {
		-webkit-transform: translate(0px, 5px);
	}
	100% {
		-webkit-transform: translate(0px, -5px);
	}
}

@-o-keyframes animationFrames {
	0% {
		-o-transform: translate(0px, -5px);
	}
	50% {
		-o-transform: translate(0px, 5px);
	}
	100% {
		-o-transform: translate(0px, -5px);
	}
}

@-ms-keyframes animationFrames {
	0% {
		-ms-transform: translate(0px, -5px);
	}
	50% {
		-ms-transform: translate(0px, 5px);
	}
	100% {
		-ms-transform: translate(0px, -5px);
	}
}