body {
	background: #eee;
	font-family: Oxygen;
	font-size: 13pt;
}

header {
	text-align:center;
	margin: 100px 0;
}

.row {
	margin-top: 50px;
}

.usp-callout {
	text-align: center;
	margin: 50px 0;
	background: #222;
	color: #eee;
	box-shadow: inset black 0 0 50px;
}

.marked {
	padding: 2px 5px;
	color: white;
	background-color: #1abc9c;
	display: inline;
	box-shadow: rgba(0,0,0,0.1) 2px 2px 3px;
}

p {
	text-align: justify;
}

.quote {
	font-family: Georgia;
	font-style: italic;
	font-size: 16pt;
}

.quote:before {
	content: "\201c";
	font-style: normal;
}

.quote:after {
	content: "\201d";
	font-style: normal;
}

.quote-author {
	text-align: right;
	display: block;
	font-size: 14pt;
	margin-top: 1em;
	opacity: 0.6;
}

.quote-author:before {
	content: "~ ";
}

nav {
	padding: 5px;
}

.nav-container {
	opacity: 0.25;
	transition: opacity 0.5s;
	position: fixed;
	top:0;
	width:100%;
	z-index: 100;
}

.nav-container:hover {
	opacity: 1;
	transition: opacity 0.5s;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.05)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}

.btn-yuras {
	background: transparent;
	color: #333;
	font-size: 13pt;
	margin-bottom: 5px;
}

.btn-yuras.btn-selected {
	border-color: #333;
}

.btn-yuras:hover {
	background: transparent;
	border-color: #1abc9c;
	color: #1abc9c;
}