{% extends "layout/master.html" %} 
{% block index %}
{{ deferJS("/assets/js/yuras.js", 1) }}
	<div class="container">

		<div class="row">
			<div class="col-lg-8">
				<h2> {{ _("Recent documents") }} </h2>
				<table class="table table-striped">
					<thead>
						<tr>
							<th> {{ _("Name") }} </th>
							<th>  {{ _("Created") }}  </th>
						</tr>						
					</thead>
					<tbody>
						{% for document in documents %} 
						<tr>
							<td><a href="/documents/{{ document._id }}" class="document-link">{{ document.title }}</a></td>
							<td width="125">{{ document._created.strftime("%d-%m-%Y") }}</td>
						</tr>					
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="col-lg-4">
				<h2>Yuras {{ _("news") }}</h2>
				<table class="table table-striped">
					{% for url,title in news.items() %} 
				
					<tr><td><a href="{{ url }}">{{ title }}</a></td></tr>
					
					{% endfor %}
				</table>
			</div>
			<div class="col-lg-4">
				<h2> {{ _("Active users") }} </h2>
				<table class="table table-striped">
					{% for user in users %} 
				
					<tr><td>{{ user.firstname }}</td></tr>
					
					{% endfor %}
				</table>
				
			</div>

		</div>

	</div>
{% endblock %}