{% extends "layout/master.html" %} {% block index %} {{ deferJS("/assets/js/jquery.heatcolor.0.0.1.pack.js", 1) }} {{ deferJS("/assets/js/yuras.js", 2) }}
<div id="csrf-token" data-csrf={{ csrf_token() }}></div>
<div id="chosen-case" data-case-id="{{ case._id }}"></div>
<div class="container">

	<div class="row">

		<div class="col-lg-12">
			<div class="display-title">
				<h2>
					<span class="case-title">{{ case.title }}</span>
					<small><a href="#" title="Edit case title" id="edit-case-title"><div class="glyphicon glyphicon-pencil"></div></a></small></h2>
				<div class="alert alert-warning add-related-document-warning" style="display:none;">  {{ _("Please reload the page to see the new documents") }} </div>
			</div>
			<div class="edit-title" style="display:none;">
				<br/>
				<input type="text" class="form-control input-lg case-title-editor" placeholder="Case title" value="{{ case.title }}"/>
			</div>
			
		</div>
		
		<div class="col-lg-9">
			<h3>  {{ _("Currently selected documents") }} </h3>
			{% for document in case.documents %}
			<div class="case-document col-md-2" data-id="{{ document.id }}">
				<div class="glyphicon glyphicon-file"></div>
				<div class="related-document-remove">
					<div class="glyphicon glyphicon-minus"></div>
				</div>
				<span class="case-document-title"><a href="/documents/{{ document.id }}" class="document-link">{{ document.title }}</a></span>
			</div>
			{% endfor %}
			
			<h3> {{ _("Suggested documents") }}</h3>
			{% for document in suggested %}
			<div class="case-document col-md-2" data-id="{{ document[0] }}" data-score="{{ document[2] }}">
				<div class="related-document-rating"></div>	
				<div class="related-document-add">
					<div class="glyphicon glyphicon-plus"></div>
				</div>

				<div class="glyphicon glyphicon-file"></div>
				<a href="/documents/{{ document[0] }}" class="case-document-title">{{ document[1] }}</a>
			</div>
			{% endfor %}

		</div>
		<div class="col-lg-3" style="text-align:center; line-height: 1.7em;">
			{% for tag in tags|dictsort(false, 'value')|reverse %} 
				{% if tag[1] > 1 %}
					{% if tag[1]|int>=case.documents|length %}
						{% set tagClass = 'label-success' %}
					{% elif tag[1]|int>=(case.documents|length / 2) %}
						{% set tagClass = 'label-warning' %}
					{%else%}
						{% set tagClass = 'label-default' %}
					{%endif%}
				
					<span class="label {{tagClass}}" data-occurs="{{tag[1]}}" title=" {{ _("This tag appeared") }} {{tag[1]}} {{ _("times") }}.">{{tag[0]}}</span> 
				{%endif%} 
			{% endfor %}
		</div>

	</div>

</div>
{% endblock %}