{% extends "layout/master.html" %} {% block index %} {{ deferJS("/assets/js/yuras.js", 1) }}
<div class="container">

	<div class="row">

		<div class="col-lg-12">
			<h2> {{ _("Cases") }}</h2>
		</div>

		<div class="col-md-12 documents-wrapper">
			{% for case in cases %}
			<div class="document-item" data-type="case" data-id="{{ case._id }}">
				<div class="document-summary">
					{{ case.title }}
				</div>
				<div class="case-icon" draggable=true>
					{% if case.documents|length > 0 %}
					<div class="file-icon">
						<div class="file-icon-fold"></div>
						<div class="file-icon-fold-cover"></div>
					</div>
					{%endif%}
					{% if case.documents|length > 1 %}
					<div class="file-icon">
						<div class="file-icon-fold"></div>
						<div class="file-icon-fold-cover"></div>
					</div>
					{%endif%}
					{% if case.documents|length > 2 %}
					<div class="file-icon">
						<div class="file-icon-fold"></div>
						<div class="file-icon-fold-cover"></div>
						<div class="file-icon-image gavel"></div>
					</div>
					{%endif%}
					
					<div class="case-icon-back"></div>					
					<div class="case-icon-front">
					<div class="file-icon-image">
						<div class="glyphicon"></div>
					</div>
					</div>
				</div>
				
				<span class="document-title">{{ case.title[:75] }}{% if case.title|length > 75 %}...{% endif %}</span>
			</div>
			{% endfor %}
			
			<a class="document-item" data-type="case" href="/cases/new">
				<div class="case-icon closed" draggable=false>
					
					<div class="case-icon-back"></div>					
					<div class="case-icon-front">
					<div class="file-icon-image">
						<div class="glyphicon glyphicon-plus-sign"></div>
					</div>
					</div>
				</div>
				
				<span class="document-title">{{ _("New case") }}</span>
			</a>
		</div>
	</div>
</div>
<div class="document-highlight-container">
	<div class="document-highlight-pointer-container">
		<div class="document-highlight-pointer-border"></div>
		<div class="document-highlight-pointer-inside"></div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="document-title"></div>
			</div>
			<div class="col-md-12">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sapien enim, pharetra vel aliquam vel, eleifend non urna. Duis suscipit ex eros, quis fermentum urna volutpat dapibus. Sed sollicitudin nisi ac erat blandit, id hendrerit dui blandit. Nam sed facilisis libero. Vivamus eget velit condimentum, laoreet nisl vel, viverra magna. Nullam facilisis rutrum euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer eget eros tincidunt, mattis risus venenatis, venenatis est.
				</p>
			</div>
			<div class="col-md-12">
				<a class="document-highlight-button delete-case"><span class="glyphicon glyphicon-trash"></span></a>
				<a class="document-highlight-button view-document"><span class="glyphicon glyphicon-eye-open"></span></a>
			</div>
		</div>


	</div>


	</div>

</div>
{% endblock %}