{% extends "layout/master.html" %} {% block index %} {{ deferJS("/assets/js/yuras.js", 1) }}
<div class="container">

	<div class="row">

		<div class="col-lg-12">
			<h2> {{ _("Documents") }}</h2>
			<a class="btn btn-default" href="/cases/new"><span class="glyphicon glyphicon-folder-open"></span>{{ _("New case") }}</a>
		</div>

		<div class="col-lg-12">

			<table class="table table-striped">
				<thead>
					<tr>
						<th>  {{ _("Title") }} </th>
						<th>  {{ _("Documents") }} </th>
						<th>  {{ _("Created") }} </th>
						<th>  {{ _("Actions") }} </th>
					</tr>
				</thead>
				<tbody>
					{% for case in cases %}
					<tr>
						<td><a href="/cases/{{ case._id }}/edit">{{ case.title }}</a></td>
						<td>{{ case.documents|length }}</td>
						<td>{{ case._created }}</td>
						<td>
							<a href="/cases/{{ case._id }}/delete" data-csrf="{{ csrf_token() }}"><span class="glyphicon glyphicon-trash"></span></a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>

		</div>

	</div>

</div>
{% endblock %}