{% extends "layout/master.html" %} 
{% block index %}
{{ deferJS("/assets/js/yuras.js", 1) }}
{{ deferJS("/assets/js/documents-popup.js", 1) }}
	<div class="container">
		
		<div class="row">
			
			<div class="col-lg-12">
				<h2>Documents</h2>
					<a class="btn btn-default disabled"><span class="glyphicon glyphicon-folder-open"></span> Upload document</a>
					<a class="btn btn-default disabled"><span class="glyphicon glyphicon-cloud-download"></span> Download document from web</a>
				
				<table class="table table-striped">
					<thead>
						<tr>
							<th data-key="title"> Title </th>
							<th data-key="author"> Author </th>
							<th data-key="secure"> Secure </th>
							<th data-key="_created"> Created </th>
							<th> Actions </th>
						</tr>						
					</thead>
					<tbody>
						{% for document in documents %} 
						<tr>
							<td width="50%"><a href="/documents/{{ document._id }}" class="document-link">{{ document.title }}</a></td>
							<td>{{ document.author }}</td>
							<td>{{ document.secure }}</td>
							<td>{{ document._created.strftime("%d-%m-%Y %H:%M:%S") }}</td>
							<td>
								<a href="/documents/{{ document._id }}/delete" class="delete-document" data-csrf="{{ csrf_token() }}"><span class="glyphicon glyphicon-trash"></span></a>
								<a href="/documents/{{ document._id }}/download/docx" data-csrf="{{ csrf_token() }}"><span class="glyphicon glyphicon-download-alt"></span></a>
							</td>
						</tr>					
						{% endfor %}
					</tbody>
				</table>
				
				<a class="btn btn-default prev-page" disabled=disabled><span class="glyphicon glyphicon-arrow-left"></span> Previous page </a>
				<a class="btn btn-default pull-right next-page"> Next page <span class="glyphicon glyphicon-arrow-right"></span></a>
				
			</div>

		</div>

	</div>
{% endblock %}