{% extends "layout/master.html" %} {% block index %} {{ deferJS("/assets/js/yuras.js", 1) }} {{ deferJS("/assets/js/documents-popup.js", 1) }}
<div class="container">

	<div class="row"></div>
	<div class="row">
		<div class="col-lg-12">
			<form action="/documents/search" method="get">
				<input type="hidden" class="category-input" name="category" />
				<div class="input-group input-group-lg">
					<input type="text" class="form-control" placeholder="Search documents" name="keywords">
					<span class="input-group-btn">
						<!-- Category picker -->
						<button class="btn btn-default category-dropdown" data-toggle="dropdown" aria-expanded="false" type="button">
							<span class="category-dropdown-text"> Any category</span> <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="#" class="category-option" data-value="">
									Any category
								</a>
						</li>
						<li class="divider"></li>
						{% for category in categories %}
						<li>
							<a href="#" data-value="{{ category.name }}" onclick="$('.category-dropdown-text').text($(this).data('value'));$('.category-input').val($(this).data('value')); ">
								{{ category.name }}
								</a>
						</li>
						{% endfor %}
					</ul>

					<!-- Search button -->
					<button class="btn btn-default" type="submit">
						<span class="glyphicon glyphicon-search"></span> Search
					</button>

					</span>
				</div>
			</form>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-9">
			{% for document in documents %}
			<div class="col-xs-6 col-sm-3 col-md-2 document-item">
				<div class="file-icon">
					<!--
					{% if loop.index % 5 >= 1 %}
					<div class="file-icon-marker teal-marker"></div>
					{% endif %} {% if loop.index % 5 >= 2 %}
					<div class="file-icon-marker red-marker"></div>
					{% endif %} {% if loop.index % 5 >= 3 %}
					<div class="file-icon-marker blue-marker"></div>
					{% endif %}-->

					<div class="file-icon-fold"></div>
					<div class="file-icon-fold-cover"></div>

					<!--{% if loop.index % 7 == 0 %}
					<div class="file-icon-image gavel"></div>
					{% endif %} {% if loop.index % 7 == 2 %}
					<div class="file-icon-image">
						<div class="glyphicon glyphicon-star"></div>
					</div>
					{% endif %}-->


				</div>
				<span class="document-title">{{ document.title }}</span>
			</div>

			{% if loop.index % 6 == 0 %}
		</div>
	</div>
</div>

<div class="document-highlight-container">
	<div class="document-highlight-pointer-container">
		<div class="document-highlight-pointer-border"></div>
		<div class="document-highlight-pointer-inside"></div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="document-title"></div>
			</div>
			<div class="col-md-12">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sapien enim, pharetra vel aliquam vel, eleifend non urna. Duis suscipit ex eros, quis fermentum urna volutpat dapibus. Sed sollicitudin nisi ac erat blandit, id hendrerit dui blandit. Nam sed facilisis libero. Vivamus eget velit condimentum, laoreet nisl vel, viverra magna. Nullam facilisis rutrum euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer eget eros tincidunt, mattis risus venenatis, venenatis est.
				</p>
			</div>
			<div class="col-md-12">
				<div class="document-highlight-button"></div>
				<div class="document-highlight-button"></div>
				<div class="document-highlight-button"></div>
			</div>
		</div>


	</div>

</div>

<div class="container">
	<div class="row">
		<div class="col-lg-9">
			{% endif %} {% endfor %}
		</div>
	</div>

</div>
{% endblock %}