{% extends "layout/viewer.html" %} {% block index %}
<svg id="annotation-connector"></svg>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">{{ _("Toggle navigation") }}</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#" id="document-title">{{ document.title }}</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<div id="csrf-token" data-csrf={{ csrf_token() }}></div>

			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ _("Download as") }} <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="{{ document._id }}/download/docx">{{ _("Word Document") }}</a>
					</li>
					<li><a href="{{ document._id }}/download/pdf">PDF</a>
					</li>
					<li><a href="{{ document._id }}/download/txt">{{ _("Plain text") }}</a>
					</li>
				</ul>
			</li>

		</ul>

		<ul class="nav navbar-nav pull-right">
			<li>
				<a href="javascript:history.back();" id="back"><span class="glyphicon glyphicon-chevron-left"></span>{{ _("Back") }}</a>
			</li>
		</ul>
	</div>
	<!-- /.navbar-collapse -->
</nav>

<div class="law-wrapper">
	<div class="law">
		<div class="law-content">
			<div class="law-content-padding">
				<div class="law-body">
					<ol class="structuredlaw">
						{{document.structuredlaw["#"]}}
						{%- for key, value in document.structuredlaw|dictsort(by='key') recursive %}                       
						  <li>
							  {% if key != "#" %}
								<strong>{{ key|upper }}.</strong>
							  {%endif%}
							{%- if value %}                                                         
							  {% if is_dict(value) %}
							  {{ value["#"] }}
							  <ol>{{ loop(value|dictsort(by='key'))}}</ol>
							  {% elif key!="#" %}
								{{ value }}
							  {% endif %}
							{%- endif %}                                                            
						  </li>                                                                     
						{%- endfor %}  
					</ol>
				</div>
			</div>
		</div>
	</div>


	{% endblock %}