{% extends "layout/master.html" %} {% block index %} {{ deferJS("/assets/js/yuras.js", 1) }} {{ deferJS("/assets/js/documents-popup.js", 1) }}
<div class="container">

	<div class="row">
		<div class="col-lg-12">

			<h2>Search results for '{{ keywords.strip(" ") }}'<br/>
			<small>Actual query: {{ extendedQuery }}</small></h2>
			<form action="/documents/search" method="get">
				<input type="hidden" class="category-input" name="category" value="{{ category }}" />
				<div class="input-group input-group-lg">
					<input type="text" class="form-control" placeholder="Search documents" name="keywords" value="{{ keywords }}">
					<span class="input-group-btn">
						<!-- Category picker -->
						<button class="btn btn-default category-dropdown" data-toggle="dropdown" aria-expanded="false" type=button>
							<span class="category-dropdown-text">{{ category if category != "" else "Any category"}}</span> <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="#" class="category-option" data-value="">
								Any category
							</a>
						</li>
						{% for category in categories %}
						<li>
							<a href="#" class="category-option" data-value="{{ category.name }}">
								{{ category.name }}
								</a>
						</li>
						{% endfor %}
					</ul>

					<!-- Search button -->
					<button class="btn btn-default" type="submit">
						<span class="glyphicon glyphicon-search"></span> Search
					</button>

					</span>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-md-9 documents-wrapper">
			{% for document in documents %}
			<div class="document-item" draggable="true" data-type="{{document.document_type}}" data-id="{{ document._id }}">
				<div class="document-summary">
					{{ document.contents[:500] }}{% if document.contents|length > 500 %}...{% endif %}
				</div>
				<div class="file-icon">
					<div class="file-icon-fold"></div>
					<div class="file-icon-fold-cover"></div>
					
					{% if document.document_type == "jurisprudence" %}
					<div class="file-icon-image gavel"></div>
					{% endif %}
				</div>
				<span class="document-title">{{ document.title[:75] }}{% if document.title|length > 75 %}...{% endif %}</span>
			</div>
			{% endfor %}
		</div>
	</div>

</div>
<div class="document-highlight-container">
	<div class="document-highlight-pointer-container">
		<div class="document-highlight-pointer-border"></div>
		<div class="document-highlight-pointer-inside"></div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="document-title"></div>
			</div>
			<div class="col-md-12">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sapien enim, pharetra vel aliquam vel, eleifend non urna. Duis suscipit ex eros, quis fermentum urna volutpat dapibus. Sed sollicitudin nisi ac erat blandit, id hendrerit dui blandit. Nam sed facilisis libero. Vivamus eget velit condimentum, laoreet nisl vel, viverra magna. Nullam facilisis rutrum euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer eget eros tincidunt, mattis risus venenatis, venenatis est.
				</p>
			</div>
			<div class="col-md-12">
				<a class="document-highlight-button add-to-case"><span class="glyphicon glyphicon-book"></span></a>
				<a class="document-highlight-button add-bookmark"><span class="glyphicon glyphicon-bookmark"></span></a>
				<a class="document-highlight-button view-document"><span class="glyphicon glyphicon-eye-open"></span></a>
			</div>
		</div>


	</div>

</div>

</div>
{% endblock %}