{% for document in documents %}
<tr>
	<td><a href="/documents/{{ document._id }}" class="document-link">{{ document.title }}</a>
	</td>
	<td>{{ document.author }}</td>
	<td>
		<a href="/documents/{{ document._id }}/delete" class="delete-document" data-csrf="{{ csrf_token() }}"><span class="glyphicon glyphicon-trash"></span></a>
		<a href="/documents/{{ document._id }}/download/docx" data-csrf="{{ csrf_token() }}"><span class="glyphicon glyphicon-download-alt"></span></a>
	</td>
</tr>
{% endfor %}