{% extends "layout/viewer.html" %} 
{% block index %}
<svg id="annotation-connector"></svg>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#" id="document-title">{{ document.title }}</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">File <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#" id="new-document">New</a></li>
						<li><a href="#" id="open-document">Open</a></li>
						<li><a href="#" id="save-document" data-csrf={{ csrf_token() }}>Save</a></li>
						<li class="divider"></li>
						<li><a href="#" id="secure-document" data-csrf={{ csrf_token() }}>Secure document</a></li>
						<li class="divider"></li>
						<li><a href="/documents">Exit</a></li>
					</ul>
				</li>
				
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Annotate <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#" id="annotate-selection">Selection</a></li>
						<li><a href="#" id="annotate-word">Word</a></li>
						<li><a href="#" id="annotate-sentence">Sentence</a></li>
						<li><a href="#" id="annotate-paragraph">Paragraph</a></li>
					</ul>
				</li>
				
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Download as... <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="{{ document._id }}/download/docx">Word Document</a></li>
						<li class="disabled"><a href="{{ document._id }}/download/pdf">PDF</a></li>
						<li class="disabled"><a href="{{ document._id }}/download/txt">Plain text</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
</nav>

		<div class="annotation-wrapper">
			<div class="annotation-wrapper-padding">

				<div class="annotation-page">
					<div class="search-bar-container">
						<div class="search-bar" contenteditable="true">
							Search
						</div>
						<span class="glyphicon glyphicon-search"></span>
					</div>

					{% for annotation in annotations %}
						<div class="annotation" contenteditable="true" data-annotation-id="{{ annotation._id }}">
							{{annotation.contents}}
						</div>
					{% endfor %}

				</div>

			</div>
		</div>
		<div class="document-wrapper">
			<div class="document">
				<div class="document-content">
					<div class="document-content-padding">
						<div class="document-body markdown" contenteditable="true">
{{document.contents|safe}}
						</div>
					</div>
				</div>
			</div>
{% endblock %}